@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#burguerIcon {
  display: none;
}

body {
  background-color: black !important;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 85px;
  padding: 5px 10%;
}
body header div a img {
  max-width: 100%;
  height: auto;
}
body header div a img:hover {
  transform: scale(1.1);
}
body header nav {
  display: flex;
  align-items: end;
}
body header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-bottom: 0px;
}
body header nav ul li {
  display: inline-block;
  /*Para que estén uno al lado del otro*/
  padding: 0 20px;
}
body header nav ul li:hover {
  transform: scale(1.1);
}
body header nav ul li a {
  font-size: 700;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
body header nav ul li a:hover {
  color: #a31c13;
  transition: all 0.5s ease-in-out;
}
body header nav button {
  background-color: #333;
  /* Color de fondo del botón */
  color: white;
  /* Color del texto del botón */
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}
body header nav button:hover {
  background-color: #9e312a;
}
body header #navSanjoVR.mostrar {
  right: 0;
  /* Muestra el menú moviéndolo hacia la derecha */
}
body .mainIndex {
  display: block;
}
body .mainIndex img {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
body .mainIndex h1 {
  text-align: center;
  padding-bottom: 0.5em;
  margin: 0 auto;
  background: none;
  color: #a31c13;
  font-family: "Poppins", sans-serif;
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: 800;
  text-shadow: 1px 1px 5px white;
}
body .mainIndex div {
  display: flex;
  justify-content: center;
}
body .mainIndex div h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 30px;
  padding: 20px;
}
body .mainIndex a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
body .mainIndex a button {
  background: black;
  border-radius: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
  margin-bottom: 100px;
}
body .mainIndex a button:hover {
  color: #a31c13;
  box-shadow: 0px 4px 20px rgba(255, 165, 2, 0.5);
  transition: all 0.5s ease-in-out;
}
body .mainIndex img {
  max-width: 100%;
  width: 100%;
  opacity: 50%;
  padding-top: 100px;
  padding-bottom: 100px;
}
body .mainIndex section h2 {
  text-align: center;
  padding-bottom: 1em;
  margin: 0 auto;
  background: none;
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 10px;
  font-size: 35px;
  font-weight: 800;
}
body .mainIndex section div div {
  background-color: black !important;
  color: #a31c13 !important;
}
body .mainIndex section div div img {
  height: 430px;
}
body footer {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.mainSobreVR {
  color: white;
  padding: 20px;
}
.mainSobreVR .titulo {
  text-align: center;
  padding-bottom: 0.5em;
  margin: 0 auto;
  background: none;
  color: #a31c13;
  font-family: "Poppins", sans-serif;
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: 800;
  text-shadow: 1px 1px 5px white;
}
.mainSobreVR section h2 {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
  background: none;
  color: #a31c13;
  font-family: "Poppins", sans-serif;
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: 800;
  text-shadow: 1px 1px 5px white;
}
.mainSobreVR section .cardsObjetivo {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2em 3em;
}
.mainSobreVR section .cardsObjetivo div {
  box-sizing: border-box;
  border-radius: 20px;
}
.mainSobreVR section .cardsObjetivo div:nth-child(1) {
  background-color: rgba(255, 165, 2, 0.5);
  padding: 1em;
}
.mainSobreVR section .cardsObjetivo div:nth-child(2) {
  background-color: #9e312a;
  padding: 1em;
}
.mainSobreVR section .cardsObjetivo div:nth-child(3) {
  background-color: rgba(59, 108, 163, 0.959);
  padding: 1em;
}
.mainSobreVR section .cardsSurgimiento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em 1em;
  padding-right: 1em;
  grid-template-areas: "card4 card5";
}
.mainSobreVR section .cardsSurgimiento div.card4 {
  grid-area: card4;
}
.mainSobreVR section .cardsSurgimiento div.card4 img {
  width: 100%;
}
.mainSobreVR section .cardsSurgimiento div.card5 {
  grid-area: card5;
  background-color: #9e312a;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1em;
}
.mainSobreVR footer {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.mainVideos .titulo {
  text-align: center;
  padding-bottom: 0.5em;
  margin: 0 auto;
  background: none;
  color: #a31c13;
  font-family: "Poppins", sans-serif;
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: 800;
  text-shadow: 1px 1px 5px white;
}
.mainVideos .boxContainer {
  display: grid;
  justify-items: center;
}
.mainVideos .boxContainer .cajaMateria {
  width: 350px;
  height: 350px;
  margin: 0.5rem;
  border-radius: 0.5em;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
.mainVideos .boxContainer .cajaMateria:hover {
  box-shadow: 0px 4px 25px white;
}
.mainVideos .boxContainer .box1 {
  grid-area: box1;
  background-color: red;
}
.mainVideos .boxContainer .box2 {
  grid-area: box2;
  background-color: red;
}
.mainVideos .boxContainer .box3 {
  grid-area: box3;
  background-color: red;
}
.mainVideos .boxContainer .box4 {
  grid-area: box4;
  background-color: blue;
}
.mainVideos .boxContainer .box5 {
  grid-area: box5;
  background-color: blue;
}
.mainVideos .boxContainer .box6 {
  grid-area: box6;
  background-color: blue;
}
.mainVideos .boxContainer .box7 {
  grid-area: box7;
  background-color: yellow;
}
.mainVideos .boxContainer .box8 {
  grid-area: box8;
  background-color: yellow;
}
.mainVideos .boxContainer .box9 {
  grid-area: box9;
  background-color: yellow;
}

footer {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.mainIniciarsesion .titulo {
  text-align: center;
  padding-bottom: 0.5em;
  margin: 0 auto;
  background: none;
  color: #a31c13;
  font-family: "Poppins", sans-serif;
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: 800;
  text-shadow: 1px 1px 5px white;
}
.mainIniciarsesion div {
  font-weight: 600;
  color: black;
}
.mainIniciarsesion div div {
  background-color: #a31c13;
  margin: 0 auto;
  max-width: 90%;
  text-align: center;
  border-radius: 10px;
}
.mainIniciarsesion div div section {
  margin-top: 1em;
  height: 350px;
  max-width: 100%;
}
.mainIniciarsesion div div section .formularioIs container-fluid {
  flex-direction: column;
  align-items: center;
}
.mainIniciarsesion div div section .formularioIs container-fluid label {
  margin-top: 1em;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 0.5em;
  color: black;
}
.mainIniciarsesion div div section .botonIniciarSesion {
  margin-top: 1em;
  background-color: #1d7469 !important;
}
.mainIniciarsesion div div section .botonIniciarSesion:hover {
  box-shadow: 0px 4px 25px white !important;
  transition: all 0.5s ease-in-out !important;
  background-color: #1d7469 !important;
}

.mainContacto .titulo {
  text-align: center;
  padding-bottom: 0.5em;
  margin: 0 auto;
  background: none;
  color: #a31c13;
  font-family: "Poppins", sans-serif;
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: 800;
  text-shadow: 1px 1px 5px white;
}
.mainContacto .infoContainer {
  margin: 0 auto;
}
.mainContacto .infoContainer .ubicacion,
.mainContacto .infoContainer .redes {
  text-align: center;
}
.mainContacto .infoContainer .ubicacion h2,
.mainContacto .infoContainer .redes h2 {
  color: #a31c13;
  font-weight: 600;
}
.mainContacto .infoContainer .ubicacion h3,
.mainContacto .infoContainer .redes h3 {
  color: white;
  font-size: 20px;
  padding-bottom: 4em;
}
.mainContacto .formularioContacto {
  background-color: #1d7469;
  margin-top: 1em;
  height: 500px;
  max-width: 100%;
  border-radius: 10px;
}
.mainContacto .formularioContacto div {
  padding: 1em;
}
.mainContacto .formularioContacto div label {
  margin-top: 1em;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 0.5em;
  color: black;
  font-weight: 600;
}
.mainContacto .formularioContacto div textarea {
  height: 100%;
}
.mainContacto .formularioContacto button.botonEnviar {
  margin: 1em;
  background-color: rgba(59, 108, 163, 0.959) !important;
}
.mainContacto .formularioContacto button.botonEnviar:hover {
  box-shadow: 0px 4px 25px white !important;
  transition: all 0.5s ease-in-out !important;
  background-color: #1d7469 !important;
}

@media only screen and (min-width: 1274px) {
  /*COMPUTADOR*/
  /*todo lo que sea +1200 se va a ver así*/
  #surgimiento {
    padding-top: 1em;
  }
  .boxContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas: "box1 box2 box3" "box4 box5 box6" "box7 box8 box9";
  }
  .cardsSurgimiento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr !important;
    gap: 1em 1em;
    padding-right: 1em;
    grid-auto-flow: row;
    grid-template-areas: "card4 card5" !important;
  }
  .card4 {
    grid-area: card4;
  }
  .card4 img {
    width: 100%;
  }
  .card5 {
    grid-area: card5;
    background-color: #a31c13;
    box-sizing: border-box;
    border-radius: 20px;
  }
  .lentesVr img {
    max-width: 80%;
    height: 900px;
  }
  #burguerIcon {
    display: none;
  }
  .boton {
    width: 464px;
    max-width: 100%;
    height: 77px;
  }
  #cerrarMenu {
    display: none !important;
  }
  #navSanjoVR {
    display: flex !important;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1273px) {
  /*TABLET*/
  #surgimiento {
    padding-top: 1em;
  }
  .boxContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas: "box1 box2" "box3 box4" "box5 box6" "box7 box8" "box9";
  }
  .cardsSurgimiento {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 1em 1em;
    padding-right: 1em;
    grid-auto-flow: row;
    grid-template-areas: "card4" "card5";
  }
  .boton {
    width: 350px;
    max-width: 80%;
  }
  .card4 {
    grid-area: card4;
  }
  .card4 img {
    width: 100% !important;
  }
  .lentesVr img {
    height: 100%;
  }
  .logo img {
    max-width: 80%;
  }
  #navSanjoVR {
    position: fixed;
    top: 0;
    right: -100%;
    /* Inicialmente oculto fuera del área visible */
    height: 100%;
    width: 80%;
    /* Ancho del menú */
    background-color: grey;
    /* Color de fondo del menú */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra del menú */
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Alinea los elementos a la derecha */
    padding: 1rem;
    z-index: 20;
  }
  header {
    align-items: center;
  }
  #cerrarMenu {
    display: block;
  }
  #burguerIcon {
    color: white;
  }
}
@media only screen and (max-width: 767px) {
  /*DISPOSITIVO MOVIL*/
  .maincontacto .titulo {
    font-size: 150%;
  }
  .maincontacto h2,
  h3 {
    font-size: 30px;
  }
  #surgimiento {
    padding: 1em;
    font-size: 150%;
  }
  #sanjovr_titles_style {
    font-size: 150%;
  }
  header {
    align-items: center;
  }
  .boxContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas: "box1" "box2" "box3" "box4" "box5" "box6" "box7" "box8" "box9";
  }
  .boton {
    width: 200px;
    max-width: 100%;
    height: 77px;
  }
  .logo img {
    max-width: 70%;
  }
  .mainIndex {
    text-align: center;
    width: 100%;
    height: auto;
  }
  .lentesVr img {
    width: 100%;
    height: auto;
  }
  #burguerIcon {
    display: block;
  }
  #cardsSurgimiento {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas: "card4" "card5";
  }
  .card4 {
    grid-area: card4;
  }
  .card4 img {
    width: 100% !important;
  }
  #navSanjoVR {
    position: fixed;
    top: 0;
    right: -100%;
    /* Inicialmente oculto fuera del área visible */
    height: 100%;
    width: 60%;
    /* Ancho del menú */
    background-color: grey;
    /* Color de fondo del menú */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra del menú */
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Alinea los elementos a la derecha */
    padding: 1rem;
    z-index: 20;
  }
  #navSanjoVR ul {
    display: block;
  }
  .navLinks li {
    margin-bottom: 1rem;
    /* Espaciado entre elementos del menú */
  }
  #cerrarMenu {
    display: block;
  }
  #burguerIcon {
    color: white;
  }
}

/*# sourceMappingURL=estilos.css.map */
