@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "variables";
@import "mixins";
@import "index";
@import "sobrevr";
@import "videos";
@import "iniciarsesion";
@import "contacto";
@import "nav";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
#burguerIcon {
    display: none;
}

@media only screen and (min-width: 1274px) {
    /*COMPUTADOR*/
    /*todo lo que sea +1200 se va a ver así*/
    .card5 h3{
        font-size: 26px;
        letter-spacing: 2px;
        line-height: 45px;
    }
    .card1 , .card2 ,.card3{
        justify-content: center;
    } 
    #surgimiento {
        padding-top: 1em;
    }
    .mainContacto a{
        text-decoration: none;
        color:white;
    }
    .boxContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 1em 1em;
        grid-auto-flow: row;
        grid-template-areas:
            "box1 box2 box3"
            "box4 box5 box6"
            "box7 box8 box9";
    }

    .cardsSurgimiento {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;//removí important
        gap: 1em 1em;
        padding-right: 1em;
        grid-auto-flow: row;
        grid-template-areas://removí important
            "card4 card5";
    }

    .card4 {
        grid-area: card4;
    }

    .card4 img {
        width: 100%;
    }

    .card5 {
        grid-area: card5;
        background-color: $bordo;
        box-sizing: border-box;
        border-radius: 20px;
    }

    .lentesVr img {
        max-width: 80%;
        height: 900px;
    }

    #burguerIcon {
        display: none;
    }

    .boton {
        width: 464px;
        max-width: 100%;
        height: 77px;
    }

    #cerrarMenu {
        display: none;//removí i
    }

    #navSanjoVR {
        display: flex;//removí important
        align-items: center;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1273px) {

    /*TABLET*/
    #surgimiento {
        padding-top: 1em;
    }
    .mainContacto a{
        text-decoration: none;
        color:white;
    }
    .boxContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr 1fr;
        gap: 1em 1em;
        grid-auto-flow: row;
        grid-template-areas:
            "box1 box2"
            "box3 box4"
            "box5 box6"
            "box7 box8"
            "box9";
    }

    .cardsSurgimiento {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 1em 1em;
        padding-right: 1em;
        grid-auto-flow: row;
        grid-template-areas:
            "card4"
            "card5";
    }

    .boton {
        width: 350px;
        max-width: 80%;
    }

    .card4 {
        grid-area: card4;
    }

    .card4 img {
        width: 100%;//removí important
    }

    .lentesVr img {
        height: 100%;
    }

    .logo img {
        max-width: 80%;
    }

    #navSanjoVR {
        @include estilo-nav();
    }


    header {
        align-items: center;
    }

    #cerrarMenu {
        display: block;
    }

    #burguerIcon {
        color: white;
    }
}

@media only screen and (max-width: 767px) {

    /*DISPOSITIVO MOVIL*/
    
    .cardsObjetivo{
        gap: 2em 3em;
    }
    .card1,.card2,.card3{
        height: 100px;
    }
    .card1 h3,.card2 h3,.card3 h3{
        font-size: 20px;
    }
    .mainContacto a{
        text-decoration: none;
        color:white;
    }
    .mainContacto .titulo {
      font-size: 30px;
    }

    .maincontacto h2,
    h3 {
        font-size: 30px;
    }

    #surgimiento {
        padding: 1em;
        font-size: 150%;
    }

    #sanjovr_titles_style {
        font-size: 150%;
    }

    header {
        align-items: center;
    }

    .boxContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 1em 1em;
        grid-auto-flow: row;
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4"
            "box5"
            "box6"
            "box7"
            "box8"
            "box9";
    }

    .boton {
        width: 200px;
        max-width: 100%;
        height: 77px;
    }

    .logo img {
        max-width: 70%;
    }

    .mainIndex {
        text-align: center;
        width: 100%;
        height: auto;
    }

    .lentesVr img {
        width: 100%;
        height: auto;
    }

    #burguerIcon {
        display: block;
    }

    #cardsSurgimiento {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 1em 1em;
        grid-auto-flow: row;
        grid-template-areas:
            "card4"
            "card5";
    }

    .card4 {
        grid-area: card4;
    }

    .card4 img {
        width: 100%;//removí important
    }
    .card5 h3{
        letter-spacing: 2px;
        font-size: 20px;
        
    }
    #navSanjoVR {
        @include estilo-nav();
    }

    #navSanjoVR ul {
        display: block;
    }

    .navLinks li {
        margin-bottom: 1rem;
        /* Espaciado entre elementos del menú */
    }

    #cerrarMenu {
        display: block;
    }

    #burguerIcon {
        color: white;
    }
    
}